* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav {
    padding: 0px 20px;
    min-height: 80px;
    background: #1f1f1f;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

nav > a {
    vertical-align: bottom;
}

nav img {
    max-height: 48px;
    background-color: white;
}

nav ul,
nav ul li,
.spacer {
    display: inline-block;
}

.spacer {
    /* Parent width - Logo width - Menu <ul> width */
    width: calc(100% - 132px - 276px);
}

nav ul {
    margin-bottom: 15px;
}

nav ul li {
    margin-right: 20px;
}

#last-item {
    margin-right: 0px;
}

nav ul li a:link,
nav ul li a:visited {
    color: #4a82c3;;
}

nav ul li a:hover {
    color: rgb(229, 145, 0);
}

nav ul li a:active {
    color: rgb(92, 229, 0);
}

#current-page {
    color: rgb(0, 184, 18);
}


/* Dropdown */
.dropdown {
    position: relative;
}

#services-menu {
    position: absolute;
    top: 125%;
    left: 0px;
    z-index: 2;
    padding-left: 16px;
    background-color: #252525;
    opacity: 0;  /*transparency*/
    /*visualable or not */
    visibility: hidden;
    /*animation moving to 2% negative y*/
    transform: translateY(-2vh);
    transition: opacity 0.3s, transform 0.15s;
}

#services-menu a {
    display: block;
    /*forces the text to stay on one line without wrapping.
    white-space: normal; (Allows text to wrap normally)
    white-space: pre-wrap; (Preserves whitespace and line breaks while allowing text to wrap).*/
    white-space: nowrap;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown:hover #services-menu {
    opacity: 1; /*opacity*/
    visibility: visible;
    /*change to translate Y positon*/
    transform: translateY(0);
}


.main-header {
    background-color: #ffffff;
    padding: 20px;
    align-items: center;
    width:65%;
    height: 1500px;
    margin:auto;
    justify-content: space-between;
    float:left;
}

.sidebar {
    width: 250px;
    height:1500px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    float:right;
    text-align: center;
}

.sidebar h2 {
    font-size: 25px;
    margin-top: 0;
    color: #bcbcbc;
    padding-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #4a82c3;
    text-decoration: none;
}

.main-footer {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
    text-align: center;
    height:120px;
    margin:auto;
    clear:both;

}

.main-footer ul li {
    margin: 0 10px;
    display: inline-block;
}

.main-footer ul li a {
    color: #4a82c3;
}

.main-footer p {
    margin: 0;
    font-size: 14px;
}

.main-footer .footer-line {
    border: none;
    border-top: 1px solid #fff; 
    margin: 20px 60px; 
}




/*back to top button*/
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 18%;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

/* 마우스 오버 시 효과 */
.back-to-top:hover {
    background-color: #555;
}
